[Desktop Entry]
Type=Application
Name=Huzaifah Multi-Rice Installer
Comment=Install Caelestia, end4-pC, Ambxst and DankMaterialShell with the Frieren SDDM theme
Exec=AppRun
Icon=huzaifah-triple-rice-installer
Terminal=false
Categories=System;Settings;
StartupNotify=true
