[Desktop Entry]
Type=Application
Name=Huzaifah Multi-Rice OFFLINE v3.0.0
Comment=Offline Multi-Rice installer, ASUS/G16 tools, rEFInd and guided Secure Boot setup
Exec=AppRun
Icon=huzaifah-triple-rice-offline
Terminal=false
Categories=System;Settings;
StartupNotify=true
