[Desktop Entry]
Type=Application
Name=Huzaifah Multi-Rice OFFLINE v4.1.0
Comment=Offline Multi-Rice installer with ASUS/G16 and hibernation tools
Exec=AppRun
Icon=huzaifah-triple-rice-offline
Terminal=false
Categories=System;Settings;
StartupNotify=true
